# Language detection overrides for GitHub Linguist
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
*.css linguist-detectable=true

# Ignore compiled/bundled root files and vendors from language stats
index.html linguist-vendored=true linguist-generated=true
404.html linguist-vendored=true linguist-generated=true
dist/** linguist-vendored=true linguist-generated=true
node_modules/** linguist-vendored=true linguist-generated=true
package-lock.json linguist-generated=true
